

<div id="fluid_mlny" class="container-fluid-mlny p-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-3">
        <div class="presentation-square">
          <div class="presentation-square_menu">

            <div class="presentation-square_menu-row">
              <div onclick="showDivSend('sendmoney',this)" class="b-bottom">
                <img src="assets/img/icon_money.svg" alt="" srcset="">
                <br><b>Enviar Dinero</b>
              </div>
              <div onclick="showDivSend('sendpackage',this)" class="">
                <img src="assets/img/icon_package.svg" alt="">
                <br><b>Enviar Carga</b>
              </div>
            </div>

          </div>

          <div class="p-5">
            <h1> Envíos de dinero o carga ¡Sin salir de Queens! </h1>
          </div>
          

          <div id="sendmoney" class="presentation-square_body">
            
            <h2 >Quiero enviar dinero a</h2>
            <form action="">
              <div class="row">
                <div class="col">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione el País</option>
                    <option value="1">Colombia</option>
                    <option value="2">México</option>
                    <option value="3">Venezuela</option>
                  </select>
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="Dólares a Enviar">
                </div>
                <div class="col-12 mt-3">
                  <input type="button" value="Calcular envío de dinero" class="btn btn-danger">
                </div>
              </div>

            </form>
          </div>

          <div id="sendpackage" class="presentation-square_body">
            <h2 >Quiero enviar carga a</h2>
            <form action="">
              <div class="row">
                <div class="col">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione el País</option>
                    <option value="1">Colombia</option>
                    <option value="2">México</option>
                    <option value="3">Venezuela</option>
                  </select>
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="Peso(Libras)">
                </div>
                <div class="col-12 mt-3">
                  <input type="button" value="Calcular envío de paquetes" class="btn btn-danger">
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>


<div class="rates">
  <div class="container">
    <h2>Tarifas de envío de dinero o carga desde New York a Latinoamérica</h2>
    <div class="rates_table">
      <table class="table table-hover">
        <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  
    </table>
    </div>
  </div>
</div>

<div class="featured bg-mlny">
  <div class="featured_container">
    <h3>Si necesitas una asesoría rápida para enviar tu carga, para hacer una recarga a cualquier parte del mundo o enviar dinero, comunícate con nosotros</h3>
    <input type="button" value="Contacto Directo" class="btn btn-danger">
  </div>
</div>

<div class="location ">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>¡Hacemos envíos muy cerca de ti!</h3>
      </div>
      <div class="col-sm-6 ">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12093.03620459871!2d-73.882542!3d40.734325!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf84d5b64e0a7186f!2sMULTILATINO%20NY%20CORP.%20Env%C3%ADo%20de%20Dinero%20y%20Carga.!5e0!3m2!1ses!2sco!4v1666458877982!5m2!1ses!2sco"
           style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

<section id="body-mlny">

</section>